{% include 'header.html' %}

<!-- Hero Section -->
<section class="container mt-5 w-100 h-75">
    <img class="hero-image w-100 rounded" src="{{ url_for('static', filename='/hero.jpg') }}" alt="Hero Image">
</section>

<!-- Content Section -->
<section class="container mt-5 mb-20">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title mb-4">Scheduling</h2>
                    <h3 class="card-subtitle mb-3">Daftar Kegiatan</h3>

                    <div id="activities-list" class="mb-3">
                        <!-- Daftar kegiatan akan ditampilkan di sini -->

                    </div>

                    <form action="/generate_graph" method="post" class="d-inline-block">
                        <div class="mb-3">
                            <label for="rows" class="form-label">Jumlah Kegiatan: <span
                                    id="activities-count">0</span></label>
                        </div>
                        <input type="hidden" id="activities-count-input" name="activities_count">
                        <div id="matrix-container" class="mb-3">
                            <!-- Render matrix inputs here -->
                        </div>
                        <button class="btn btn-primary" type="submit">Generate Graph</button>
                    </form>

                    <button id="add-activity-btn" class="btn btn-success">Tambah Kegiatan</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% if graph_generated %}
            <div class="card p-3">
                <h2 class="card-title">Generated Graph:</h2>
                <img src="{{ url_for('graph') }}" alt="Graph" class="img-fluid mb-3">

                <div class="route-info">
                    <h4 class="mt-5 mb-3">Matrix Display</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            {% for row in matrix %}
                            <tr>
                                {% for item in row %}
                                <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <h4 class="card-subtitle mb-2">Colouring Graph by Greedy</h4>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grModal">
                        View Graph
                    </button>
                    <p class="mt-4">Execution Time: <span class="badge badge-primary text-primary">{{ et_gr }}</span>
                    </p>

                    <!-- Modal -->
                    <div class="modal fade" id="grModal" tabindex="-1" aria-labelledby="grModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="grModalLabel">Colored Graph by Greedy</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body flex justify-content-between">
                                    <div class="d-flex flex-column justify-content-center">
                                        <img src="{{ url_for('static', filename='/colored_graph_greedy.png') }}" alt="">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="route-info mt-3">
                    <h4 class="card-subtitle mb-2">Colouring Graph by Backtracking</h4>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#btModal">
                        View Graph
                    </button>
                    <p class="mt-4">Execution Time: <span class="badge badge-primary text-primary">{{ et_bt }}</span>
                    </p>

                    <!-- Modal -->
                    <div class="modal fade" id="btModal" tabindex="-1" aria-labelledby="btModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="btModalLabel">Colored Graph by Backtracking</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body flex justify-content-between">
                                    <div class="d-flex flex-column justify-content-center">
                                        <img src="{{ url_for('static', filename='/colored_graph_backtracking.png') }}"
                                            alt="">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% elif error %}
            <div class="card text-white bg-danger mb-20">
                <div class="card-body">
                    <h2 class="card-title">Error:</h2>
                    <p>{{ error }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</section>

{% include 'footer.html' %}